#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a3a2a28a;
    border-bottom: 2px solid #ffffff;
}
#postsFeed {
    width: 500px;
    margin: 50px auto;
}

.post {
    background-color: #d7d8d8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.postUpperBar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.postUpperBar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.postBody img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.postText {
    font-size: 14px;
    color: #333;
}

.likeButton {
    background-color: #d7d8d8;
    border: none;
    cursor: pointer;
}

.likeButtonImage {
    width: 25px;
    height: 25px;
}

.image {
    width: 60px;
    height: 55px;
}

.nav-link {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(25, 0, 255);
    background-color: #5d5f5d;
}
.post-date {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: auto;
}
.post-number {
    font-size: 16px;
    color: #000000;
    margin-right: 10px;
}
.dropdown-content {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}